#skills {
    h2 {
        color: $text-color;
    }
    h2::after {
        content: "";
        height: 2px;
        width: 10%;
        background: $text-color;
        display: block;
        margin: auto;
    }
}

.card-skills {
    background-color: $dark-secondary;
}